<%- include('../../partials/header.ejs') %>
<section id="pgCategory">
  <div class="container">
    <div class="list_categories">
      <div class="box">
        <div class="boxHeader">
          <h3>Categorias</h3>
        </div>
        <div class="boxBody">
          <ul>
            <% cats.map(cat=>{ %>
            <li>
              <div><%= cat.title %></div>
              <div>
                <% if(cat.id != 1){ %>
                <i class="far fa-trash-alt" onclick="confirmDelete({id: <%= cat.id %>})"></i>
                <%}%>
              </div>
            </li>
            <% })%>
          </ul>
        </div>
      </div>
    </div>
    <div class="form_categories">
      <div class="box">
        <div class="boxHeader">
          <h3>Cadastro de Categoria</h3>
        </div>

        <div class="boxBody">
          <form action="/admin/cat" method="POST">
            <div class="form_row">
              <label>Nome:</label> <br />
              <input type="text" name="title" placeholder="Nome da Categoria" required />
            </div>
            <button>Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function confirmDelete(obj) {
    if (obj.id == 1) {
      alert('Este item nao pode ser deletado!');
    } else {
      var exec = confirm('Deseja realmente este item?');
      if (exec == true) {
        window.location.href = `/admin/cat/${obj.id}`;
      }
    }
  }
</script>
<% %> <%- include('../../partials/footer.ejs') %>
