<header>
  <div class="container menu">
    <div>
      <a href="/"><img src="/img/brand.png" alt="logo" /></a>
    </div>

    <div>
      <a class="item_menu" href="/admin/cat">Categorias</a>
      <a class="item_menu" href="/admin/article">Artigos</a>
      <a class="item_menu" href="/admin/users">Users</a>
      <a class="item_menu" href="/logout-user">Sair</a>
    </div>
  </div>
</header>
